---
import GitHub from "./icons/GitHub.astro"
import JavaScript from "./icons/JavaScript.astro"
import AstroIcon from "./icons/Code.astro"
import TypeScriptIcon from "./icons/TypeScriptIcon.astro"
import Netlify from "./icons/Netlify.astro"
import Vue from "./icons/Vue.astro"
import Sass from "./icons/Sass.astro"
import Bootstrap from "./icons/Bootstrap.astro"
import Firebase from "./icons/Firebase.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import type { ProjectType, TagType, TagsType } from '@/types'

import { getLangFromUrl, useTranslations } from "@/i18n/utils"

type tLang = (str: any) => any;

const lang = getLangFromUrl(Astro.url)
const t:tLang = useTranslations(lang);

const TAGS: TagsType = {
  javascript: {
    name: 'JavaScript',
    class: 'bg-[#f7df1e] text-black',
    icon: JavaScript,
  },
  tailwindcss: {
    name: 'Tailwind CSS',
    class: 'border border-[#38BDF8] bg-white text-black dark:border-0',
    icon: Tailwind,
  },
  astro: {
    name: 'Astro',
    class: 'bg-[#000] text-white dark:bg-white dark:text-[#000]',
    icon: AstroIcon,
  },
  typescript: {
    name: 'TypeScript',
    class: 'border border-[#007acc] bg-white text-[#007acc] dark:text-[#007acc] dark:border-0',
    icon: TypeScriptIcon,
  },
  netlify: {
    name: 'Netlify',
    class: 'bg-[#2E51ED] text-white',
    icon: Netlify,
  },
  vuejs: {
    name: 'Vue',
    class: 'bg-[#4fc08d] text-white',
    icon: Vue,
  },
  sass: {
    name: 'Sass',
    class: 'bg-[#c69] text-white',
    icon: Sass,
  },
  bootstrap: {
    name: 'Bootstrap',
    class: 'bg-[#7431FA] text-white',
    icon: Bootstrap,
  },
  firebase: {
    name: 'Firebase',
    class: 'bg-[#1A73E8] text-white',
    icon: Firebase,
  },
};

const PROJECTS: ProjectType[] = t('projects');
---

<div class="flex flex-col gap-y-16 lg:bg-gray-100 lg:dark:bg-[#1A1A1A] p-4 lg:rounded-[25px] lg:shadow-lg">
  {
    PROJECTS.map(({ image, imageAlt, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt={imageAlt} class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-wrap mb-2 gap-x-2">
                {tags.map((item) => {
                  const tag:TagType = TAGS[item];
                  if(tag) {
                    return (
                      <li>
                        <span
                          class={`flex gap-x-2 mt-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                        >
                          <tag.icon class="size-4" />{tag.name}
                        </span>
                      </li>
                    )
                  }
                })}
              </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400 text-pretty">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



